version: '3.7'

services:
  api:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile-dev
    depends_on:
      - db
    volumes:
      - ../src:/app/src
    ports:
      - "3000:3000"
      - "5555:5555"
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    depends_on:
      - api
    ports:
      - "8080:8080"